[submodule "Sample/glm"]
	path = Sample/glm
	url = https://github.com/g-truc/glm.git

[submodule "Sample/stb"]
	path = Sample/stb
	url = https://github.com/nothings/stb.git

[submodule "Sample/tinyobjloader"]
	path = Sample/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
